/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    padding-top: 3.5rem;
    background-color: #f5f5f5;
}

div.form-container {
    max-width: 360px;
    background-color: #ffffff;
    height: auto;
}

div.feed-container {
    max-width: 800px;
    background-color: #ffffff;
}

div.watchee-container {
    height: 10%;
}

button.profile-button {
    width: 90px;
}

h3 {
    text-align: center;
}

button.full {
    width: 100%;
}

strong {
    font-size: 1rem;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    transition: .4s;
}

nav ul li a:hover,
nav ul li a:focus {
    border-bottom: 2px solid rgb(15,82, 252);
}

.navbar-collapse{
    right:50px !important;
    position:relative;
}